*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}



.title p{
    text-align: center;
    font-size: 36px;
}

.flex_container{
    
   
}

.flex_body{
    
    width: 750px;
    border: 12px solid rgb(78, 87, 221);
    margin: 0 auto;
}

.flex_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    height: 250px;
    
}


.item1{
    font-size: 24px;
    
}
.item2{
    font-size: 24px;
}
.item3{
    font-size: 24px;
}




